@import "bootstrap/dist/css/bootstrap.min.css";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css";

body {
  margin: 20px;
  zoom: 85%;
}

.admin-map {
  margin-bottom: 35px;
  height: 350px;
}

.form-column {
  width: 70%;
}

.header-row {
  margin-bottom: 30px;
}

.mapboxgl-ctrl-geocoder {
  width: 420px;
}

.form-group-tight {
  margin-bottom: 0px !important;
}
